<style>
    [data-template-suffix="about"]{
        background-color: {{ settings.color_about_bg }};
    }
</style>
<div class="about">
    <div class="about__wrapper">
        {% section 'mega-section-about' %} 
    </div>
</div>

