$color-black: #000;
$color-white: #fff;

$font-george-x: "George X";
$font-suisse-bp: "Suisse BP Intl";

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: (
    "navigation",
    "content"
)